.loader {
display: flex;
align-items: center;
justify-content: center;
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
background-color: rgba(152, 151, 151, 0.8);

    &__loader {
        width: 120px;
        height: 20px;
        -webkit-mask:linear-gradient(90deg,#000 70%,#0000 0) 0/20%;
        background:
         linear-gradient(#000 0 0) 0/0% no-repeat
         #ddd;
        animation: l4 2s infinite steps(6);
    }

  }
  @keyframes l4 {
      100% {background-size:120%}
  }