.nav {
    border-bottom: solid black 2px;
    padding: 10px 20px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    width: 100vw;
    background-image: linear-gradient(to bottom, #000000c4, #00000073), url("../../assets/360_F_945263774_SJ0CFRi4hwCr8xlaChdA1AJ5bawFBJLV.jpg");

    &__wrapper {
        align-items: center;
        justify-content: space-between;
        display: flex;
    }

    &__user-box {
        margin-right: 10px;
        display: flex;
        align-items: center;

        p {
            margin: 0;
            color: white;
        }
    }
}