
* {
    font-family: "geist", sans-serif;
}

body {
    background-image: linear-gradient(to top, rgb(0 0 0 / 64%), rgb(0 0 0 / 71%)), url("../assets//ronnie-coleman-squat-barbell-1109.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

main {
    padding-top: 100px;
    overflow-x: hidden;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.user-box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    p {
        margin: 0;
    }
}

button {
    cursor: pointer;
}

input[type="checkbox"] {
    flex-grow: 0;
    flex-shrink: 0;
}