.table {     
    margin: 30px auto 0 auto;
    padding: 0 155px 0 0;
    max-width: unset;
    width: 400px;
    overflow-x: scroll;

    @media (min-width: $mobileBreakpoint) {
        width: 90vw;
        overflow: hidden
    }

    @media screen and (min-aspect-ratio: 16/9) {
        width: unset;
    }


    @media (min-width: $desktopBreakpoint) {
        max-width: 1100px;
        width: unset;
    }

    &.center {
        padding: 0 55px 0 0;

        @media (min-width: $desktopBreakpoint) {
            padding: 0;
        }

        .table__table-wrapper {
            @media (min-width: $desktopBreakpoint) {
                max-width: 100%
            }
        }
    }
    

    &__table-wrapper {
        position: relative;
        background-color: transparent;
        width: 480px;
        font-size: 10px;

        @media (min-width: $mobileBreakpoint) {
            width: 100%;
            font-size: 16px;
        }

        @media screen and (min-aspect-ratio: 16/9) {
            width: 500px;
          }
    
        @media (min-width: $desktopBreakpoint) {
            max-width: 900px;
            font-size: 18px;
            width: unset;
        }
    }

    &__header-wrapper {
        border-bottom: 2px solid black;
    }


    &__sub-header-wrapper {
        display: flex;
        align-items: center;
        background-color: white;

        &--top {
           // border-bottom: 1px solid black;
        }

        .status {
            max-width: 40px;
        }

    }

    &__cells-wrapper {
        display: flex;
        align-items: center;

        &.active {
            border:  solid 3px;
        }
    }

    &__cell {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 144px;
        min-height: 44px;
        flex: 1;

        &--input {
            border: none;
            width: 100%;
            height: 44px;
            text-align: center;
            background: transparent;

            &:nth-child(even) {
                border: none;
            }
        }
        
        &[data-type='user'], 
        &.user {
            min-width: 120px;
            flex: initial;
            display: flex;
            align-items: center;
            justify-content: space-around;

            @media (min-width: $tabletBreakpoint) {
                min-width: 270px;
            }

            @media screen and (min-aspect-ratio: 16/9) {
                width: 120px;
              }
        }
        &[data-type='user'] {
            padding-left: 20px;
        }

        &--half {
            position: relative;
            cursor: pointer;

            &:after {
                content: '';
                position: absolute;
                right: 5px;
                width: 10px;
                height: 10px;
                background-image: url("../../assets/sort-up-ascending.svg");
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

    &__row-wrapper {
        position: relative;
        margin-bottom: 3px;
        background-color: white;


        &.owner {
            opacity: 1;
        }

        &:nth-child(odd) {
            background-color: rgb(194, 194, 194)
        }
    }

    &__user-name {
        flex: 2;
    }

    &__status {
        color: orange;
        max-width: 40px;

        &.approved {
            color: #1dff00
        }
    }

    &__btns-wrapper {
        width: 150px;
        position: absolute;
        right: -161px;
        top: 0;
        font-size: 12px;
    }

    &__btn {
        margin-right: 3px;
    }
}
