.input {
    text-align: left;

    &__label {
        color: white;
    }

    &__input {
        &.error-active {
            border: solid red 2px;
            margin-bottom: 5px;
        }
    }

    input[type="checkbox"] {
        height: 20px;
        width: 20px;

        &.error-active {
            outline: solid red 2px;
            margin-bottom: 5px;
        }
    }

    &__error-msg {
        margin-bottom: 20px;
        color: red;
    }
}